
.canvasView {
    flex: 1;
}

.canvasViewTitle {
    position: absolute;
    bottom: 5px;
    left: 15px;
    font-size: 50px;
    opacity: 0.15;
}

GridBackground {
    --grid-background-color: rgba(30, 30, 35, 255);
    --line-color: rgb(34, 34, 34);
    --thick-line-color: rgb(40, 40, 40);
    --spacing: 100;
}
