.custom-label {
    font-size: 20px;
    -unity-font-style: bold;
    color: rgb(68, 138, 255);
}

.unity-base-field {
}

.unity-base-text-field {
}

.unity-text-field {
}

.unity-base-field__label {
    font-size: 13px;
    -unity-font-style: bold;
    min-width: 60px;
    max-width: 60px;
    margin-top: 3px;
}
